@model ConsumablesSaleTest.Models.ViewModels.CatalogVM

<form method="get" class="mb-3">
    <div class="input-group">
        <input name="search" class="form-control" placeholder="Поиск" />
        <div class="input-group-append">
            <button type="submit" asp-controller="Catalog" asp-action="Index" class="btn btn-primary"><i class="lab la-sistrix"></i></button>
        </div>
    </div>
</form>
